body {
/*  width: 25em; */
  font-family: "Open Sans Light", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
}

section.clear-options {
  padding: 0.5em 0;
  margin: 1em 0;
}

#clear-button {
  margin: 0 1.3em 1em 0;
}

section.clear-options input,
section.clear-options>select,
#clear-button {
//  float: left;
}

label {
  display: block;
  padding: 0.2em 0;
  white-space: nowrap;
}

label:hover {
  background-color: #EAEFF2;
}

.title {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#options-save-status {
    margin-left: 20px;
    color: #404040;
    visibility: hidden;
}

/* scrollable table */
table.scroll {
    width: 466px; /* 300 + 150 + 16px scrollbar width */
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead tr { display: block;}

table.scroll tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
    border-right: 1px solid black;
}
table.scroll tbody tr.marked td {
    background-color: yellow;
}

table.scroll thead th.host {
    width: 300px;
}

table.scroll tbody td.host {
    width: 297px; /* 300 -3px? */
}

table.scroll thead th.permission {
    width: 166px; /* 150px + 16px scrollbar width */
}
/*
table.scroll thead th:last-child {
    width: 166px; / * 150px + 16px scrollbar width * /
}
*/
table.scroll thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

table.scroll tbody { border-top: 2px solid black; }

table.scroll tbody td:last-child, thead th:last-child {
    border-right: none !important;
}

input.host {
    width: 300px;
}
